/*----- config -----*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.ishome {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
button {
    cursor: pointer;
    outline: none;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    z-index: 99;
}

/*----- header -----*/
.header__top {
    background: #000000;
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;
}
.header__top .container {
    display: flex;
    justify-content: space-between;
}
.header__info {
    display: flex;
}
.header__info img {
    margin-right: 16px;
}
.header__info span {
    color: #969696;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 400;
}
.header__info hr {
    margin-right: 10px;
}
.header__sign img {
    margin-right: 12px;
}
.header__sign span {
    color: #969696;
}
.header__sign button {
    color: #969696;
    border: none;
    background: none;
}
.header__sign button:hover {
    color: #b4b2b2;
}

/*----- header bottom -----*/
.header__bottom {
    background: #0F0F0F;
    overflow: hidden;
}
.header__bottom .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*----- logo -----*/
.header__logo img {
    width: 104px;
    height: 50px;
}

/*----- navbar -----*/
.header__list {
    display: flex;
}
.header__item {
    list-style-type: none;
    padding: 31px 20px;
    cursor: pointer;
}
.header__item:nth-child(1){
    color: #969696;
    font-size: 22px;
    text-transform: uppercase;
    display: none;
    cursor: none;
}
.header__item:nth-child(1):hover {
    background: none;
}
.header__item:nth-child(7){
    color: #969696;
    display: none;
    border: solid 1px white;
}
.header__link {
    color: #969696;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}
.header__item:hover {
    background: #1F1F1F;
}
.header__navbar.navbar__active {
    right: 0;
    transition: 1s;
}
.header__popup {
    display: none;
}
.header__popup.popup__active {
    display: block;
}

/*----- burger -----*/
.header__burger {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 99;
    cursor: pointer;
    display: none;
}
.header__burger::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background: white;
    top: 13px;
    left: 3px;
    transition: 1s;
}
.header__burger span {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background: white;
    top: 23px;
    left: 3px;
    opacity: 1;
    transition: 1s;
}
.header__burger::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background: white;
    top: 33px;
    left: 3px;
    transition: 1s;
}
.header__burger.burger__active::before {
    top: 23px;
    transform: rotate(40deg);
    transition: 1s;
}
.header__burger.burger__active span {
    opacity: 0;
    transition: 1s;
}
.header__burger.burger__active::after {
    top: 23px;
    transform: rotate(-40deg);
    transition: 1s;
}

/*----- page -----*/
.page {
    background-image: url(/images/page-bg.svg);
    background-size: cover;
    background-position: center;
    min-height: 810px;
    padding-bottom: 50px;
}
.page__content {
    text-align: center;
    color: #FFFFFF;
    padding-top: 160px;
}
.page__title {
    border: solid 1px white;
    max-width: 320px;
    height: 320px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 80px;
}
.page__title img {
    width: 185px;
    height: 86px;
    margin-top: 93px;
}
.page__title hr {
    width: 180px;
    margin: 0 auto;
    height: 3px;
    background: white;
    margin-bottom: 10px;
}
.page__title p {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
}
.page__text {
    max-width: 730px;
    margin: 0 auto;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1.5;
}

/*----- season -----*/
.season {
    display: flex;
    min-height: 730px;
}

/*----- season prices -----*/
.season__prices {
    background: #000000;
    width: 50%;
    color: #FFFFFF;
    padding: 100px 20px;
}
.season__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-top: 93px;
}
.season__title span {
    font-size: 27px;
}
.season__prices hr {
    width: 120px;
    margin: 0 auto;
    margin-top: 50px;
}
.season__track {
    display: flex;
    margin-top: 50px;
    transition: 1s;
}
.season__box {
    margin: 0 auto;
}
.season__box img {
    background: #191B1C;
    width: 260px;
    height: 325px;
}
.season__box p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
}
.season__price {
    font-weight: 700;
    font-size: 16px;
}
.season__slider {
    display: none;
    text-align: center;
}
.season__slider button {
    margin: 0 10px;
    font-size: 30px;
    color: white;
    font-weight: 800;
    border: solid 1px white;
    padding: 10px;
    background: none;
}

/*----- season description -----*/
.season__description {
    background-image: url(/images/season-bg.svg);
    background-size: cover;
    background-position: center;
    width: 50%;
}
.season__content {
    text-align: center;
}
.season__content h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 484px;
}
.season__content hr {
    width: 120px;
    margin: 0 auto;
    margin-top: 30px;
}
.season__dots {
    display: none;
}
.season__btn {
    margin-top: 60px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    border: solid 1px white;
    padding: 15px 30px;
    transition: 0.7s;
}
.season__btn:hover {
    background: rgb(143, 143, 143, 0.3);
    transition: 0.7s;
}
.season__dots div {
    cursor: pointer;
}

/*----- collection -----*/
.collection {
    display: flex;
    min-height: 800px;
}
.collection__bg {
    width: 40%;
    background-image: url(/images/collection-bg.svg);
    background-size: cover;
    background-position: center;
}
.collection__description {
    width: 60%;
    color: #FFFFFF;
    background: #000;
    text-align: center;
}
.collection__title {
    font-weight: 400;
    font-size: 36px;
    margin-top: 100px;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.collection__title span {
    font-size: 30px;
    font-weight: 200;
}
.collection__text {
    max-width: 501px;
    padding: 0 20px;
    line-height: 2;
    margin: 0 auto;
}
.collection__btn {
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    background: none;
    border: solid 1px #FFFFFF;
    padding: 15px 30px;
    transition: 0.5s;
}
.collection__btn:hover {
    background: rgba(124, 124, 124, 0.1);
    transition: 0.5s;
}

/*----- prices -----*/
.prices {
    min-height: 1300px;
    background: #000;
    color: #FFFFFF;
}
.prices .container {
    padding-top: 120px;
}
.prices__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.prices hr {
    width: 120px;
    margin: 0 auto;
    margin-top: 40px;
}
.prices__track {
    display: flex;
    flex-wrap: wrap;
    margin-top: 81px;
}
.price__box {
    margin: 20px auto;
    padding: 0 10px;
}
.price__box img {
    background: #191B1C;
    width: 260px;
    height: 325px;
}
.price__box p {
    margin: 20px 0;
}
.prices__btn {
    display: none;
    text-align: center;
    margin: 50px;
}
.prices__btn button {
    font-size: 35px;
    font-weight: 900;
    margin: 0 20px;
    color: #FFFFFF;
    background: none;
    border: solid 2px white;
    padding: 20px;
    border-radius: 20px;
    transform: rotate(-90deg);
}

/*----- brands -----*/
.brands {
    background: #0F0F0F;
    min-height: 410px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
}
.brands__title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}
.brands hr {
    width: 120px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.brands__track {
    transition: 1s;
}
.brands__img img {
    margin: 0 10px;
}
.brands__btn {
    display: none;
    margin-top: 30px;
    transform: rotate(-90deg);
}
.brands__btn button {
    font-size: 36px;
    color: white;
    background: none;
    font-weight: 700;
    border: solid 1px white;
    padding: 10px 20px;
    border-radius: 40px;
}

/*----- footer -----*/
.footer__bottom {
    background: #0F0F0F;
    color: #FFFFFF;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bottom div {
    width: 50%;
    text-align: center;
}
.footer__top {
    background-image: url(/images/footer-bg.svg);
    background-size: cover;
    background-position: center;
    line-height: 1.5;
    min-height: 470px;
}
.footer__top .container {
    display: flex;
    color: #FFFFFF;
    line-height: 2;
    padding-top: 80px;
    justify-content: space-between;
}
.score {
    width: 35%;
}
.mailing {
    width: 30%;
}
.categories {
    width: 30%;
}
.footer__title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}
.categories__btns button {
    color: #FFFFFF;
    background: #0F0F0F;
    padding: 10px 20px;
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
}
.categories__btns button:hover {
    background: #313131;
}
.mailing__form {
    margin-top: 37px;
    display: flex;
}
.mailing__form input {
    padding: 10px 20px;
    background-color: rgb(170, 169, 169, 0.6);
    border: solid 1px #ccc;
}
.mailing__form input:focus {
    border: solid 1px #ccc;
}
.mailing__form input::placeholder {
    color: #FFFFFF;
}
.mailing__form button {
    padding: 10px 20px;
    background: #0F0F0F;
    color: #FFFFFF;
    border: none;
}
.mailing__form button:hover {
    background: #313131;
}

/*----- media -----*/
@media screen and (max-width: 1650px){
    /*----- season -----*/
    .season {
        display: flex;
        flex-direction: column;
    }
    .season__prices {
        width: 100%;
    }
    .season__description {
        width: 100%;
        padding: 100px 20px;
    }
    .season__content h2 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 1530px){
    /*----- collection -----*/
    .collection {
        display: flex;
        flex-direction: column;
    }
    .collection__bg {
        width: 100%;
        min-height: 800px;
    }
    .collection__description {
        width: 100%;
        padding: 100px 0;
    }
}

@media screen and (max-width: 1200px){
    /*----- footer -----*/
    .mailing__form {
        display: flex;
        flex-direction: column;
    }
    .mailing__form button {
        margin-top: 18px;
    }
}

@media screen and (max-width: 900px){
    /*----- season -----*/
    .season__blocks {
        border: solid 1px white;
        width: 300px;
        height: 430px;
        margin: 50px auto;
        padding: 10px 20px;
        overflow: hidden;
        transition: 1s;
    }
    .season__track {
        margin: 0;
    }
    .season__box {
        margin-right: 50px;
    }
    .season__slider {
        display: block;
    }
    .season__dots {
        display: block;
        display: flex;
        width: 300px;
        margin: 40px auto;
    }
    .season__dots div {
        width: 50px;
        height: 50px;
        border: solid 3px white;
        margin: 0 auto;
        border-radius: 50px;
        transition: 0.6s;
        cursor: pointer;
    }
    .season__dots div.dots__active {
        background: white;
        transition: 0.6s;
    }

    /*----- footer -----*/
    .footer__top .container {
        display: flex;
        flex-direction: column;
    }
    .footer__element {
        margin: 50px auto;
        text-align: center;
        width: 90%;
    }

    /*----- collection -----*/
    .collection__bg {
        min-height: 500px;
    }
}

@media screen and (max-width: 770px){
    /*----- header -----*/
    .header__top .container {
        display: flex;
        justify-content: flex-end;
    }
    .header__info {
        display: none;
    }
    .header__navbar {
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0;
        right: -300px;
        background: #0F0F0F;
        z-index: 80;
        transition: 1s;
        overflow: scroll;
    }
    .header__popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 70;
        background: rgba(32, 32, 32, 0.8);
        cursor: pointer;
    }
    .header__list {
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header__item {
        padding: 22px 20px;
    }
    .header__item:nth-child(7), .header__item:nth-child(1){
        display: block;
    }
    .header__item:nth-child(7) span {
        display: block;
        margin-bottom: 10px;
    }
    .header__burger {
        display: block;
    }
}

/*----- button top -----*/
.btn__top {
    position: fixed;
    width: 75px;
    height: 75px;
    overflow: hidden;
    z-index: 50;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}
.btn__top:hover {
    background: rgb(110, 110, 110, 0.6);
}
.btn__top::after {
    position: absolute;
    content: "";
    background: white;
    left: 4px;
    width: 40px;
    height: 6px;
    top: 30px;
    transform: rotate(-40deg);
}
.btn__top::before {
    position: absolute;
    content: "";
    background: white;
    top: 30px;
    right: 4px;
    width: 40px;
    height: 6px;
    transform: rotate(40deg);
}
.btn__top.show {
    opacity: 1;
    transition: 1s;
}

@media screen and (max-width: 600px){
    /*----- prices -----*/
    .prices {
        min-height: 1000px;
    }
    .prices hr {
        margin-bottom: 50px;
    }
    .prices__blocks {
        border: solid 2px white;
        border-radius: 50px;
        width: 300px;
        margin: 0 auto;
        height: 500px;
        overflow: hidden;
    }
    .prices__track {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        transition: 1s;
    }
    .prices__btn {
        display: block;
    }

    /*----- brands -----*/
    .brands {
        padding-bottom: 50px;
    }
    .brands__img {
        border: solid 1px white;
        border-radius: 100px;
        width: 300px;
        margin: 0 auto;
        height: 100px;
        overflow: hidden;
    }
    .brands__btn {
        display: block;
    }
}